<h1>Hello, world!</h1>
<p>I dag skal vi skrive litt kode!</p>
<br>
<h2>Oppgave 1: Reversere string</h2>
<ol>
    <li>Gå inn på Strings, skriv inn noe i inputfeltet og trykk på Reverser og se hva den gjør </li>
    <li>Kan du få verdien til å vises omvendt av slik den ble skrevet inn?</li>
    <li>Kan du få verdien til å vises omvendt og med - mellom hver bokstav?</li>
    <li>Hva er styrkene og svakhetene med løsningen du valgte?</li>
    <li>Hva er de beste måtene å teste denne koden på?</li>
</ol>
<br />
<h2>Oppgave 2: Telle tall</h2>
<ol>
    <li>Gå inn på Teller, trykk på Tell opp og se hva den gjør </li>
    <li>Gå til home og tilbake til Teller. Hva skjer med nummeret?</li>
    <li>Få tallet til å være det samme når man kommer tilbake til siden</li>
    <li>Legg til en knapp Tilbakestill som resetter tallet til 0</li>
    <li>Hvordan kan vi få det til å se penere ut?</li>
    <li>Hva er styrkene og svakhetene med løsningen du valgte?</li>
    <li>Hva er de beste måtene å teste denne koden på?</li>
</ol>

