<h1>Hello, world!</h1>
<p>I dag skal vi skrive litt kode!</p>
<br>
<h2>Oppgave 1: Telle tall</h2>
<ol>
    <li>Gå inn på Counter, trykk på Increment og se hva den gjør </li>
    <li>Gå til home og tilbake til Counter. Hva skjer med nummeret?</li>
    <li>Få tallet til å være det samme når man kommer tilbake til siden</li>
    <li>Legg til en knapp Reset som resetter tallet til 0</li>
    <li>Hvordan kan vi få det til å se penere ut?</li>
    <li>Hva er de beste måtene å teste denne koden på?</li>
</ol>
<h2>Oppgave 2: Fra kaldt til varmt</h2>
<ol>
    <li>Forandre WeatherDataController slik at den returnerer riktig beskrivelse for temperatur: 
        <ul> 
            <li>temperatur < -10 -> Freezing</li>
            <li>temperatur < -5 -> Bracing</li>
            <li>temperatur < 0 -> Chilly</li>
            <li>temperatur < 5 -> Cool</li>
            <li>temperatur < 10 -> Mild</li>
            <li>temperatur > 10 && temperatur <= 20 -> Warm</li>
            <li>temperatur > 20 -> Balmy</li>
            <li>temperatur > 25 -> Hot</li>
            <li>temperatur > 30 -> Sweltering</li>
            <li>temperatur > 35 -> Scorching</li>
        </ul>
    </li>
    <li>Endre tekst på fetch data til Show weather</li>
    <li>Legg til en knapp i Show weather som laster siden på nytt</li>
    <li>Hvordan kan vi få det til å se penere ut?</li>
    <li>Hvordan kan vi legge til faktisk vær i oslo siste 5 dager?</li>
    <li>Hva er de beste måtene å teste denne koden på?</li>
</ol>

